<main role="main">
<section id="hero-section">
    <div class="container">
        <div class="col-sm-5">
            <hr>
            <h1 id="hero-section-text">Looking for an</h1>
            <h1 id="hero-section-text2">ADVENTURE?</h1>
        </div>
    </div>
</section>
<section id="middle">
  
  <h1 id="carousel-txt">BROWSE OUR MODELS</h1>
  <h3 id="carousel-txt">CHOOSE YOUR VEHICLE</h3>
  <hr>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="../../../assets/images/carro1.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="../../../assets/images/carro2.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="../../../assets/images/carro3.jpg" alt="Third slide">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
      </a>
    </div>
</section>
</main>