@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');


#hero-section{
    height: max(75vh, 450px);
    background-color: rgba(204, 204, 204, 0);
    background-size: cover;
    background-position: center;
    background-image: url(../../../assets/images/jeep-heroSection.jpg);
    padding: 170px;
}

h1, h2, h3{
    font-family: 'Poppins', sans-serif; 
}
hr{
    color: transparent;
    height: 50px;
}
#hero-section-text{
    color: white;
    text-align: center;
    font-weight: 500;
}
#hero-section-text2{
    color: #00FFCC;
    text-align: center;
    font-weight: 900;
}

#carousel-txt{
    text-align: center;
    font-weight: 900;
}

.w-100{
    width: 50% !important;
}
.carousel-item img {
    margin: 0 auto;
}

#middle{
    background-color: lightgray;
    padding: 100px;
}
